
# application cache
/Application/Storage/Cache/**
!/Application/Storage/Cache/.gitkeep

# application logs
/Application/Storage/Logs/**
!/Application/Storage/Logs/.gitkeep

# Bower components
/www/Components/**
!/www/Components/.gitkeep

# Composer packages
/vendor

# misc
/test.php
